{% extends "base.twig" %}

{% block content %}

<section id="form">

<div class="page-header">
  <h1>Find your Facebook ID</h1>
</div>
<div class="row">
  <div class="span4 columns">
    <h2>Notes</h2>
    <p>This tools makes only one thing, finds your (or basically any profile/page with a username) Facebook ID. <br /> Why you would ever wanna know your ID? No idea.</p>
  </div>
  <div class="span12 columns">
      <form action="get_id" method="post" class="form-stacked">
      <fieldset>
        <legend>Username</legend>
        <div class="clearfix">
          <label for="">Just enter the username and nothing else, please.</label>
          <div class="input">
            http://www.facebook.com/<input class="xlarge" id="fbid" name="fbid" size="30" type="text" />
          </div>
        </div> <!-- /clearfix -->
      </fieldset>
      <div class="actions">
        <button type="submit" class="btn primary">Find my ID</button>
        <button type="reset" class="btn">Reset</button>
      </div>
    </form>
  </div>
</div>

</section>
{% endblock %}